#root-container {
}

#tag-property-name {
    color: var(--unity-colors-default-text);
    flex-grow: 0;
    flex-basis: 40%;
    flex-shrink: 0;
    -unity-text-align: middle-left;
    padding-top: 2px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2px;
    margin-right: 2px;
    font-size: var(--unity-metrics-default-font_normal_size);
    overflow: hidden;
    white-space: nowrap;
    align-items: flex-start;
    align-self: auto;
}

#tag-value-container {
    flex-basis: 60%;
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
    align-self: stretch;
    overflow: hidden;
    flex-shrink: 1;
}

#tag-background {
    background-image: url("project://database/Assets/UnderdorkStudios/UnderTags/Sprites/9Sliced.png?fileID=2800000&guid=fb6aea370a739bf39950a94e32dd8cad&type=3#9Sliced");
    -unity-slice-left: 100;
    -unity-slice-top: 100;
    -unity-slice-right: 100;
    -unity-slice-bottom: 100;
    -unity-slice-scale: 0.1px;
    -unity-background-image-tint-color: rgb(48, 48, 48);
    max-height: none;
    height: 25px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    align-self: auto;
}

#tag-value {
    color: rgb(255, 255, 255);
    flex-grow: 0;
    flex-basis: 60%;
    align-items: auto;
    align-self: center;
    flex-shrink: 0;
    justify-content: flex-start;
    -unity-text-align: middle-center;
    margin-left: 10px;
    margin-right: 10px;
}

#tag-dropdown {
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 0;
}

#clear-tag-button {
    background-image: url("project://database/Assets/UnderdorkStudios/UnderTags/Sprites/RemoveIcon.png?fileID=2800000&guid=25011a4e5dd2145abaf912eb447cf5f2&type=3#RemoveIcon");
    -unity-background-image-tint-color: rgb(180, 81, 81);
    height: 15px;
    width: 15px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
}
