#title {
    background-color: rgba(255, 255, 255, 0);
    -unity-font-style: bold;
    font-size: 19px;
    margin-left: 9px;
    margin-top: 0;
    margin-bottom: 5px;
}

#root-container {
    flex-shrink: 0;
    align-items: flex-start;
    align-self: auto;
    flex-basis: 100%;
}

#toggle-add-tag-box-button {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    align-self: center;
    background-image: none;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-radius: 0;
}

#add-tag-container {
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

#add-tag-text-field {
    width: 100px;
    align-self: center;
    margin-left: 15px;
}

#add-tag-button {
    height: 25px;
    align-self: center;
    background-image: url("project://database/Assets/UnderdorkStudios/UnderTags/Sprites/AddTagButton.psd?fileID=2800000&guid=caf90e209c1044761bf841fe9f17fd6d&type=3#AddTagButton");
    -unity-background-image-tint-color: var(--unity-colors-button-background);
}

#tag-list-view {
    margin-top: 10px;
    margin-left: 10px;
}

#tag-list-container-scroll-view {
    align-self: stretch;
    align-items: flex-start;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-left-color: rgba(0, 0, 0, 0.49);
    border-right-color: rgba(0, 0, 0, 0.49);
    border-top-color: rgba(0, 0, 0, 0.49);
    border-bottom-color: rgba(0, 0, 0, 0.49);
}

#tag-list-container {
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
}

#help-box-container {
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

#database-error-container {
    flex-direction: row;
    height: 22px;
    max-height: 22px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.toggle-add-tag-box-button-active {
    scale: 1.2 1.2;
    transition-property: scale, -unity-background-image-tint-color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
    -unity-background-image-tint-color: rgb(173, 122, 87);
}

.toggle-add-tag-box-button-inactive {
    transition-property: scale, -unity-background-image-tint-color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
    -unity-background-image-tint-color: rgb(85, 144, 71);
}

.add-tag-text-field-visible {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.add-tag-text-field-hidden {
    display: none;
    opacity: 0;
}

.add-tag-button-visible {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.add-tag-button-hidden {
    display: none;
    opacity: 0;
}