#header-container {
    height: 35px;
    max-height: 35px;
    flex-direction: row;
    align-items: auto;
    align-self: auto;
    justify-content: flex-start;
}

#selected-tags-label {
    -unity-font-style: bold;
    font-size: var(--unity-metrics-default-font_normal_size);
    color: var(--unity-colors-default-text);
    -unity-text-align: middle-center;
    align-self: center;
}

#selected-tags-label-container {
    margin-top: 0;
    margin-bottom: 10px;
    -unity-text-align: middle-center;
    justify-content: space-around;
    align-items: auto;
    align-self: auto;
}

#selected-tags-root-container {
}

#selected-tags-scroll-view {
    margin-top: 10px;
}

#selected-tags-container {
}

#filter-icon {
    background-image: url("project://database/Assets/UnderdorkStudios/UnderTags/Sprites/Lens.png?fileID=2800000&guid=60e228248df1d4fa18e6471f0ff2410d&type=3#Lens");
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    align-self: center;
    margin-left: 10px;
}

#filter-text-field {
    flex-shrink: 0;
    width: 300px;
    align-self: center;
    align-items: auto;
}
